body {
  font-family: "Arial", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  overflow: hidden;
}

#container {
  width: 1920px;
  height: 1080px;
  background-color: black;
  background-image: repeating-linear-gradient(
      0deg,
      transparent,
      transparent 7px,
      #333 7px,
      #333 8px
    ),
    repeating-linear-gradient(
      90deg,
      transparent,
      transparent 7px,
      #333 7px,
      #333 8px
    );
  position: relative;
}

.resizable-box {
  position: absolute;
  border: 2px solid #007bff;
  cursor: pointer;
  color: white;
}

.size-display {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #007bff;
  padding: 2px 5px;
  border-radius: 3px;
}

#addLayer {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background-color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}

#resolutionDropdown {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}
