body {
  font-family: "Arial", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  overflow: hidden;
}

#containerOuter {
  width: 1300px;
  height: 733px;
  overflow: hidden;
  position: relative;
  background-color: black;
}
#viewport {
  width: 100%; /* or any fixed width you want, e.g., 1920px for full HD monitors */
  height: 100%; /* using vh to occupy most of the screen */
  overflow: auto;
  position: relative;
}
#container {
  width: 1920px;
  height: 1080px;
  background-image: repeating-linear-gradient(
      0deg,
      transparent,
      transparent 14px,
      #333 15px,
      #333 16px
    ),
    repeating-linear-gradient(
      90deg,
      transparent,
      transparent 14px,
      #333 15px,
      #333 16px
    );
  position: relative;
  background-color: #000;
  z-index: 1;
}

.resizable-box {
  position: absolute;
  border: 2px solid #007bff;
  cursor: pointer;
  color: white;
  z-index: 10;
}

.resizable-box.selected {
  border: 2px dashed #ff0000;
}

.size-display,
#addLayer,
#resolutionDropdown {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
}
.size-display {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #007bff;
}
#addLayer {
  top: 10px;
  left: 10px;
  z-index: 1000;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
}
#resolutionDropdown {
  top: 20px;
  right: 20px;
  z-index: 1000;
}
.ui-resizable-handle {
  background: #fff;
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
}

.ui-resizable-n {
  top: -5px;
  left: 50%;
  margin-left: -5px;
  cursor: ns-resize;
}

.ui-resizable-e {
  top: 50%;
  right: -5px;
  margin-top: -5px;
  cursor: ew-resize;
}

.ui-resizable-s {
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  cursor: ns-resize;
}

.ui-resizable-w {
  top: 50%;
  left: -5px;
  margin-top: -5px;
  cursor: ew-resize;
}

.ui-resizable-nw {
  top: -5px;
  left: -5px;
  cursor: nwse-resize;
}

.ui-resizable-ne {
  top: -5px;
  right: -5px;
  cursor: nesw-resize;
}

.ui-resizable-sw {
  bottom: -5px;
  left: -5px;
  cursor: nesw-resize;
}

.ui-resizable-se {
  bottom: -5px;
  right: -5px;
  cursor: nwse-resize;
}
.box-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}
.no-scroll {
  overflow: hidden !important;
}
