/* Slider */
.slick-slider
{
    position: relative;
    padding: 0;
    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;

    width: 100%;
    /* max-width: 1200px; */
    margin: 0 auto;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    max-width: 100px;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    text-align: center;
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
button.slick-prev.slick-arrow img{
  width: 100%;
  max-width: 30px;
}
button.slick-next.slick-arrow img{
  width: 100%;
  max-width: 30px;
}
.slick-arrow.slick-hidden {
    display: none;
}
.slick-arrow:before{
    display: none !important;
}

.slick-track:after{
    background: url(../img/icon_arrow_02.png)!important;
    background-size: contain!important;
}

.slick-track:before{
    background: url(../img/icon_arrow_01.png)!important;
    background-size: contain!important;
}
.slick-next{
  bottom:40%;
  right: -2%; 
  width: fit-content;
  background: transparent;
}
.slick-prev{
  bottom:40%;
  left: -2%;
  width: fit-content;
  background: transparent;
}

.slick-next2{
    bottom:40%;
    right: -10%; 
    width: fit-content;
    background: transparent;
  }
  .slick-prev2{
    bottom:40%;
    left: -10%;
    width: fit-content;
    background: transparent;
  }

  .slick-next3{
    bottom:40%;
    right: -3%; 
    width: fit-content;
    background: transparent;
  }
  .slick-prev3{
    bottom:40%;
    left: -3%;
    width: fit-content;
    background: transparent;
  }
.hovered {
  background-color: #F3FFEE !important; /* Set your desired background color here */
}